.App {
  font-family: sans-serif;
  text-align: center;
}

.App-title {
  margin-bottom: 50px;
  font-size: 70px;
  font-family: "Bigelow Rules", cursive;
  color: #38c8c3;
}

.search-box {
  margin-bottom: 1em;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.card-container {
  background-color: #53b0ad;
  
}
